body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    height: 100%;
    background: gray;
  }

.form-group label {
  font-size: 12px;
}

.holder {
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  vertical-align: middle;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: gray;
}

.empty-styles {
  padding: 20%;
  color: #a9a9a9;
}

.color-example {;
    background: #000000;
    padding: 0px 8px;
    border-radius: 50%;
}

.color-panel {
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  width: 1075px;
  margin: 0 auto;
  background: #f9f9f9;
  position: relative;
}

.vote-count {
  min-width: 30px;
  background: black;
  padding: 0 20px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
}

.color-panel-content {
  padding: 25px;
  max-height: 300px;
  min-height: 300px;
}

.bottom-button {
  width: 100%;
  background:#7cc244;
  height: 60px;
  line-height: 60px;
  color: #fff;
  position: absolute;
  font-weight: 600;
  font-size:18px;
  text-align:center;
}

.bottom-button:hover {
  cursor: pointer;
}

.example-container {
  height: 300px;
  background: #e2e2e2;
  position: absolute;
  bottom:0px;
  width:100%;
  padding: 100px 25px;
}

.example-font, .example-percentage {
    text-align: center;
}

.full-height {
  height: 100%;
}

/* Lol change this, false/undefined?... */
.selectable.vertical-align-wrap, .selectable.vertical-align-wrap {
  border: 2px dashed #efefef;
}

.select-panel {
  position: relative;
  text-align:center;
  padding: 25px;
  background: #ffffff;
}

.height-100px {
  height: 100px !important;
}

.height-75px {
  height: 75px !important;
}

.padding-0-10 {
  padding: 0 10px;
}

.vertical-align-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  padding: 0 15px;
}

.rc-slider {
  padding: 20px 0 !important;
}

.nav li a {
  padding: 10px 14px;
}

.add-tab a {
  padding: 10px !important;
}

.select-component {
  color: #a9a9a9;
  font-style:italic;
  height: 180px;
}

.vertical-align {
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

.example-bar {
  height: 50px;
  width: auto;
  background: #000;
  transition: 250ms all;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.example-bar-content {
    padding: 100px 0;
    line-height: 30px;
}


/* Common stuff */
.picker-wrapper, 
.slide-wrapper {
  position: relative;
  float: left;
}
.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.picker,
.slide {
  cursor: crosshair;
  float: left;
}

.fill-color, .font-color {
  height:0;
}

.font.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font.times {
  font-family: 'Times New Roman', Times, serif;
}

.font.calibri {
  font-family: 'Calibri';
}

.font.courier {
  font-family: 'Courier New', Courier, monospace;
}

/* Default skin */

.cp-default {
  padding: 12px;
  border-radius: 15px;
  float: left;
}
.cp-default .picker {
  width: 200px;
  height: 200px;
}

.empty-settings {
  height: 500px;
}

.disabled {
  opacity: 0.5;
}

.disabled *:hover {
  cursor: default !important;
}

.cp-default .slide {
  width: 30px;
  height: 200px;
}
.cp-default .slide-wrapper {
  margin-left: 10px;
}
.cp-default .picker-indicator {
  width: 5px;
  height: 5px;
  border: 5px solid rgb(0, 0, 0);
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
}
.cp-default .slide-indicator {
  width: 40px;
  left: -5px;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid black;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}

.option-buttons .add-column {
  padding: 0px 10px;
  height: 30px;
}

.color-item {
  padding: 0px 10px;
}

.selected {
  background: #f4ffeb !important;
  border: 2px dashed !important;
  border-color: #bdddbd !important;
}


.color-picker {
  margin: 10px;
  -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.hue-horizontal .div:first-child {
  margin: 4px 0px;
    padding: 12px;
}

.color-picker.twitter {
  margin-left: -15px;
  width: 350px !important;
  background: inherit !important;
}

.color-picker.hue {
  margin-left: -0px;
  width: 320px;
}
 
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
  